ADMIN_PKEY_STAGING =
ADMIN_PKEY_TESTNET = 
RPC_LOCAL = http://localhost:8545
RPC_STAGING = https://staging-v3.skalenodes.com/v1/staging-legal-crazy-castor
RPC_EUROPA = https://mainnet.skalenodes.com/v1/elated-tan-skat